header {
    padding: 15px 5%;

    & nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: auto;
        width: 100%;

        & .btn-app {
            display: flex;
            align-items: center;
            gap: 15px;
            padding: 10px 15px;
            border-radius: 15px;
            border: none;
            background: #FE8813;
            box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
            transition: all 0.3s;

            &:hover{
                background-color: black;
                transition: all 0.3s;
            }

            & span {
                font-size: 15px;
                color: white;
            }
        }

        & h1 {
            margin: 0;
        }

        & .menu-header {
            display: flex;
            width: fit-content;
            align-items: center;
            gap: 30px;

            & a {
                text-decoration: none;
                color: black;
                font-weight: 700;
            }
        }

    }
}