.banners-lojas-parceiros {
    // margin: 50px 5px;

    & h2{
        text-align: center;
    }

    & .swiper-pagination-bullet {
        background-color: #FE8813 !important;
    }
}

.banner-loja-parceira {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 140px;
    padding: 15px;
    margin: 10px;
    gap: 0 20px;
    border-radius: 20px;
    background-color: white;
    box-shadow: 1px 1px 7px 1px rgba(0, 0, 0, 0.212);

    img {
        width: 70px;
        height: 70px;
        object-fit: cover;
        border-radius: 50%;
    }
}

.info-loja-parceira {
    display: flex;
    flex-direction: column;
    gap: 5px 0;
    color: #020411;

    h3,
    p {
        margin: 0;
    }

    p {
        font-size: clamp(10px, 2vw, 14px);
    }

    h3 {
        font-size: clamp(14px, 2vw, 18px);
        font-weight: 600;
        color: #FE8813;
        margin-bottom: 5px;
    }
}

.swiper {
    width: 100%;
    height: 100%;
    padding: 0 10px;
}
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-pagination {
    position: static !important;
  }