.popup-overlay {
    position: fixed;
    bottom: 0;  /* Ajusta o pop-up para ficar na parte inferior */
    left: 0;
    right: 0;
    top: 0;  /* Cobre toda a tela */
    background-color: rgba(0, 0, 0, 0.5); /* Escurece a tela com um fundo preto semi-transparente */
    display: flex;
    justify-content: center;
    align-items: flex-end; /* Alinha o conteúdo do pop-up ao fundo */
    z-index: 1000;
    animation: fadeIn 0.3s ease-out;
  }
  
  .popup-content {
    background-color: white; /* Fundo branco */
    padding: 20px;
    border-radius: 8px;
    width: 100%;
    max-width: 600px;
    text-align: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    animation: slideUp 0.3s ease-out;
  }
  
  /* Botões */
  .popup-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
  }
  
  .accept-button {
    background-color: green;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .decline-button {
    background-color: #B0B0B0; /* Cor cinza suave */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  /* Hover */
  .accept-button:hover {
    background-color: darkgreen;
  }
  
  .decline-button:hover {
    background-color: #808080; /* Cinza mais escuro para hover */
  }
  
  /* Animações */
  @keyframes slideUp {
    from {
      transform: translateY(50px);  /* Começa 50px abaixo */
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .popup-closing {
    animation: slideDown 0.3s ease-in forwards;
  }
  
  @keyframes slideDown {
    from {
      transform: translateY(0);
      opacity: 1;
    }
    to {
      transform: translateY(50px); /* Move o pop-up para baixo ao fechar */
      opacity: 0;
    }
  }
  
  .fade-out {
    animation: fadeOut 0.3s ease-in forwards;
  }
  
  @keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
  