@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.sobre-nos {
  font-family: "Poppins", sans-serif;
    margin: 10px auto;
    padding: 10px 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    h2 {
      color: #FE8813;
      font-weight: 600;
      text-align: center;
      font-size: clamp(16px, 5vw, 25px);
      margin: 30px 0;
    }
  }
  
  .sobre-nos-carrossel {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 40px;
  }
  
  .sobre-nos-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 300px;
  
    p {
      font-size: clamp(14px, 3vw, 16px);
      color: #020411;
      text-align: center
    }
  
    ;
  
  }
  
  .sobre-nos-card h3 {
    text-align: center;
  }
  
  .sobre-nos-icones {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  
    img {
      width: 100%;
      max-width: 50px;
    }
  }